.auth__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  background-color: white;
  margin: 0px 20px;
  margin: auto;
  height: 100vh;
}

.auth {
  .register_form,
  .login_form {
    width: 100%;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .register_form {
    height: calc(100vh - 200px);
  }

  .login_form {
    height: 100vh;
    max-height: 475px;
    position: relative;

    &__alertContainer {
      position: absolute;
      width: 100%;
      max-width: 400px;
    }
  }

  &-register__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: var(--grey_700);
      text-decoration: none;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-login__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    height: 100vh;

    a {
      color: var(--grey_700);
      text-decoration: none;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }
    &--buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--links {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}

@media (min-width: 800px) {
  .auth {
    background-image: url(../../assets/images/default.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .auth__container {
    margin-right: 0px;

    .register_form {
      max-height: 500px;
    }
  }
}

@media (min-width: 1200px) {
  .auth__container {
    margin-right: 20%;
  }
}
