.auth__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  background-color: white;
  margin: 0px 20px;
  margin: auto;
  height: 100vh;
}

.auth {
  a {
    color: var(--grey_800);
    text-decoration: none;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;

    button {
      font-weight: 600;
    }
  }

  &__form {
    width: 100%;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 175px);
  }

  &__remember {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 800px) {
  .auth {
    background-image: url(../../assets/images/default.png);
    background-size: cover;
    background-repeat: no-repeat;

    &__form {
      height: 500px;
    }
  }

  .auth__container {
    margin-right: 0px;
  }
}

@media (min-width: 1200px) {
  .auth__container {
    margin-right: 20%;
  }
}
