.header {
  position: relative;
  width: 100%;
}

.header_bar {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 55px;
  padding: 0px 20px;
  position: relative;
  z-index: 10;
  background-color: white;

  &__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

.header__dropdown {
  position: relative;

  &--menu {
    position: absolute;
    z-index: 5;
    top: 5px;
    right: 5px;
    transition: all 0.2s;
  }
}

.hideMenu {
  transform: translateY(-120%);
}

.headerMenu {
  position: relative;
  box-shadow: 0px 5px 9px 2px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 180px;
  height: 150px;

  &__content {
    padding: 0px 15px;
  }

  &--adminSize {
    width: 180px;
    height: 200px;
  }
}

@media (min-width: 850px) {
  .header__dropdown {
    max-width: 850px;
    margin: auto;
  }

  .header_bar {
    &__content {
      max-width: 850px;
      margin: auto;
    }
  }
}
