.SimpleInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25px;
  position: relative;

  &__error {
    position: absolute;
    bottom: -20px;
    color: var(--main_color_500);
  }

  &__SVG {
    max-height: 18px;
  }
}

// TODO: Ver si lo de frex grow ayuda a que los iconos de los inputs no cambien cuando sale la X para limpiar el field <12-03-23, yourname> //
